.btn{	
	width: 65px;
	height: 25px;
	background-color: #4e4e70;
	border-radius: 4px ;
}

.label{
	width: 110px;
	padding-top: 3px;
	font-size: 12px;
	
}
	
.option{
	width: 120px;
	height: 23px;
}

/*select选择框高度改变，以及input高度*/
.layui-select,.layui-input
{
	width: 120px;
	height: 23px;
	background-color: ghostwhite;

}

